@model PreecoLuckyDraw.Models.CAMPAIGN_DETAIL
<div style=" display: flex; max-width: 545px; min-width: 500px; align-items: center; justify-content: center;">
    <img id="image_prize" src="@Url.Content(Model.GIFT.IMAGE)"  style="border-radius: 10px; max-height: 265px; "  />
</div>