
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Assets/css/styles.css" />
    <style>
        #bg{
            background-image:url(/Assets/img/Elements/BG@4x.png)
        }
    </style>
</head>

<body id="bg">
    <div id="overlay">
        <img src="~/Assets/img/spinphonwhite.png" width="350" alt="">
        <p>Xoay dọc màn hình để có trải nghiệm tốt nhất</p>
    </div>
    <div class="home">
        <div class="div">
            <div class="overlap">
                <img class="logo" src="~/Assets/img/Elements/Logo@4x.png" style="margin-top:33% ;" />
                <img class="tagline" src="~/Assets/img/Elements/Tagline@4x.png" />
                <img class="dragon" src="~/Assets/img/Elements/Dragon@4x.png" />
                <div class="group">
                    <div class="overlap-group">
                        <a href="/Luckynumber/Nestle_YEP">
                            <div class="text-wrapper">
                                LẮCCC NGAY
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>