@{
    ViewBag.Title = "Home Page";
}
<link href="~/Assets/css/styles.css" rel="stylesheet" />
<style>
    .title:hover {
        color: #4da896;
    }
</style>
<body id="bg">
    <div style="margin-top:100px;display:flex;justify-content:center">
        <div class="box1" style="text-align: center; width: 100%; ">
            <a style="font-size: 30px;" class="title" href="/Campaign/Index">LUCKY DRAW - PREECO</a>
        </div>
    </div>

</body>