@model PreecoLuckyDraw.Models.CAMPAIGN


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <tr>
        <td style=" padding: 10px 20px; "><label>Giải</label> </td>
        <td>
            @{Html.RenderAction("SelectPrize", "Campaign");}
        </td>
    </tr>
    <tr>
        <td style=" padding: 10px 20px; ">
            <label>Giải thưởng</label>
        </td>
        <td>
            @{Html.RenderAction("SelectGift", "Campaign");}
        </td>

    </tr>
    <tr>
        <td style=" padding: 10px 20px; ">
        <label>Số lượng giải</label></td>
        <td>
            <input type="number" id="limit" placeholder="Nhập số lượng giải" />
        </td>
    </tr>
    <tr>
        <td style=" padding: 10px 20px; ">
            <a id="btnButton" class="btn-program"> Thêm</a>
        </td>
    </tr>
     
}
<script>
    $("#btnButton").click(function () {
        var item1 = $("#IDPRIZE option:selected").val();
        var item2 = $("#IDGIFT option:selected").val();
        var item3 = $("#limit").val();
        var formdata = new FormData();
        formdata.append("idPrize", item1);
        formdata.append("idGift", item2);
        formdata.append("limit", item3);

        const x = '/Campaign/AddGift/?idprize=' + item1 + '&idgift=' + item2 + '&limit=' + item3;
        console.log("url", x);
        //location.href(x);
        $.ajax({
            url: x,
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formdata,
            async: false,
            success: function (result) {
                //success
                alert("đã thêm giải thành công");
                //document.getElementById("").style.display = "block";
                window.location.reload();

            },
            error: function (err) {
                //document.getElementById("").style.display = "block";

                alert("Vui lòng điền đầy đủ thông tin");
            }
        });
        console.log("idgift", item2);
        console.log("idprize", item1);

    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
